{{ template "base" . }}

{{ define "title" }} RPS web - About {{ end }}

{{ define "content" }}

<section>
    <div class="container">
        <div class="row">
            <div class="col py-5">
                <h2 class="py-2">Acerca de Santiago Mansilla</h2>
                <p>Soy un apasionado desarrollador web con experiencia en la creacion de sitios web interactivos y
                    emocionantes juegos en linea.</p>           
                <p>¡Bienvenido a mi pagina web del juego Piedra, Papel o Tijera! He creado este juego para brindar
                    una experiencia divertida y desafiante.</p>
                <p>Como desarrollador web me enfoco en combinar diseño atractivo con funcionalidad sólida, y me encanta
                    explorar nuevas tecnologias para mejorar la experiencia de usuario.</p>
                <p>Si tienes alguna pregunta o sugerencia sobre el juego o cualquier otro proyecto web, no dudes en
                    contactarme a través de los siguientes enlaces:</p>

                <ul class="py-3">
                    <li><a href="mailto:mansillasantiago843@gmail.com" target="_blank">mansillasantiago843@gmail.com</a></li>
                    <li><a href="https://github.com/mansillasanti" target="_blank">GitHub</a></li>
                    <li><a href="https://www.linkedin.com/in/mansilla-santiago-369196239/" target="_blank">LinkdIn</a></li>
                </ul>
            </div>
        </div>
    </div>
</section>

{{ end }}